@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

button {
  cursor: pointer;
}

header {
  padding: 45px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1000px) {
  header nav {
    justify-content: space-between;
  }
}
header .hd-button {
  margin-left: 40px;
  padding: 10px 20px;
  background-color: #F84646;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
header .phone-menu {
  display: none;
}
@media (max-width: 1000px) {
  header .phone-menu {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
}
header .phone-menu img {
  width: 32px;
}

@media (max-width: 1000px) {
  nav ul {
    display: none;
  }
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
  color: #000;
  margin-left: 40px;
  font-weight: 700;
}

#bilgi {
  background-image: url(../images/main-bg.png);
  background-size: cover;
  background-position: 62%;
  padding-bottom: 148px;
}
@media (max-width: 1000px) {
  #bilgi {
    padding-bottom: 127px;
  }
}
@media (max-width: 530px) {
  #bilgi {
    text-align: center;
  }
}
@media (max-width: 426px) {
  #bilgi {
    background-image: radial-gradient(111.67% 156.26% at 141.47% 78.12%, #FFF 0%, rgba(255, 255, 255, 0) 100%), url(../images/main-bg.png);
  }
}
#bilgi h1 {
  max-width: 660px;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
  padding-top: 200px;
}
@media (max-width: 1000px) {
  #bilgi h1 {
    padding-top: 161px;
  }
}
@media (max-width: 530px) {
  #bilgi h1 {
    font-size: 42px;
  }
}
#bilgi p {
  max-width: 650px;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  #bilgi p {
    font-size: 12px;
  }
}
#bilgi form {
  width: 503px;
  height: 72px;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 5px;
}
@media (max-width: 530px) {
  #bilgi form {
    width: 100%;
    display: flex;
  }
}
#bilgi input {
  padding: 19px 30px;
  border-radius: 8px;
  border: none;
  width: 370px;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 530px) {
  #bilgi input {
    width: auto;
    flex-grow: 1;
  }
}
#bilgi input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Manrope", sans-serif;
}
#bilgi input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Manrope", sans-serif;
}
#bilgi button {
  background-color: #F84646;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 22px 36px;
  font-weight: 700;
}

#kalite {
  padding: 120px 0 140px 0;
  text-align: center;
}
@media (max-width: 426px) {
  #kalite {
    padding: 60px 0 90px 0;
  }
}
#kalite h2 {
  font-size: 36px;
  font-weight: 800;
}
@media (max-width: 426px) {
  #kalite h2 {
    font-size: 24px;
  }
}
#kalite p {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 426px) {
  #kalite p {
    font-size: 14px;
    line-height: 22px;
  }
}
#kalite .flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  #kalite .flex-parent {
    justify-content: space-around;
  }
}
@media (max-width: 426px) {
  #kalite .flex-parent {
    flex-direction: column;
    gap: 80px;
  }
}
#kalite .flex-parent .service {
  width: 27%;
}
@media (max-width: 1000px) {
  #kalite .flex-parent .service {
    width: 37%;
  }
}
@media (max-width: 426px) {
  #kalite .flex-parent .service {
    width: 85%;
  }
}
#kalite .flex-parent .service h3 {
  font-weight: 800;
  font-size: 24px;
}
#kalite .flex-parent .service p {
  font-size: 18px;
  font-weight: 400;
}

#test {
  background-color: #F84646;
  padding: 68px 0 78px;
  text-align: center;
  color: #fff;
}
#test h2 {
  font-size: 48px;
  font-weight: 800;
}
@media (max-width: 426px) {
  #test h2 {
    font-size: 36px;
  }
}
#test h3 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 64px;
}
@media (max-width: 426px) {
  #test h3 {
    font-size: 14px;
  }
}
#test .flex-parent-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#test .flex-parent-arrow p {
  width: 18%;
}
@media (max-width: 535px) {
  #test .flex-parent-arrow {
    display: none;
  }
}
#test .flex-parent-adaptive {
  display: none;
}
@media (max-width: 535px) {
  #test .flex-parent-adaptive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  #test .flex-parent-adaptive p {
    width: 50%;
  }
}

#deneyimli .flex-parent-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding: 160px 0 120px 0;
}
@media (max-width: 425px) {
  #deneyimli .flex-parent-first {
    flex-direction: column-reverse;
    padding: 90px 0 60px 0;
  }
}
#deneyimli .flex-parent-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding-bottom: 160px;
}
@media (max-width: 425px) {
  #deneyimli .flex-parent-second {
    flex-direction: column;
    padding-bottom: 79px;
  }
}
#deneyimli .text-button {
  width: 45%;
}
@media (max-width: 425px) {
  #deneyimli .text-button {
    text-align: center;
  }
}
@media (max-width: 425px) {
  #deneyimli .text-button {
    width: 100%;
  }
}
#deneyimli .text-button h1 {
  font-size: 64px;
  font-weight: 700;
}
@media (max-width: 1000px) {
  #deneyimli .text-button h1 {
    font-size: 58px;
  }
}
@media (max-width: 550px) {
  #deneyimli .text-button h1 {
    font-size: 36px;
  }
}
#deneyimli .text-button p {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  padding-top: 40px;
  padding-bottom: 80px;
}
@media (max-width: 425px) {
  #deneyimli .text-button p {
    line-height: 29px;
    padding: 20px 0 40px;
  }
}
#deneyimli .text-button button {
  border-radius: 8px;
  border: none;
  background-color: #F84646;
  color: #fff;
  padding: 12px 45px;
}
@media (max-width: 425px) {
  #deneyimli .text-button button {
    width: 100%;
  }
}
#deneyimli .images {
  width: 45%;
}
@media (max-width: 425px) {
  #deneyimli .images {
    width: 100%;
  }
}
#deneyimli .images img {
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 1000px) {
  #deneyimli .hidden {
    display: none;
  }
}
#deneyimli .media-img {
  display: none;
}
@media (max-width: 1000px) {
  #deneyimli .media-img {
    display: inline-block;
  }
}

#referanslarımız {
  background-color: #F4F5F7;
  text-align: center;
  padding: 59px 0;
}
@media (max-width: 425px) {
  #referanslarımız {
    padding: 40px 0;
  }
}
#referanslarımız h1 {
  font-size: 48px;
  font-weight: 800;
}
@media (max-width: 426px) {
  #referanslarımız h1 {
    font-size: 36px;
  }
}
#referanslarımız p {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 425px) {
  #referanslarımız p {
    font-size: 14px;
  }
}
#referanslarımız .frame {
  width: 946px;
  height: 336px;
  margin: 48px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  #referanslarımız .frame {
    display: none;
  }
}
#referanslarımız .frame span {
  display: block;
  width: 170px;
  height: 96px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#referanslarımız .frame .one {
  vertical-align: center;
}
#referanslarımız .frame .two span:first-of-type {
  margin-bottom: 24px;
}
#referanslarımız .frame .three {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#referanslarımız .frame .three .tumunu-gor {
  display: flex;
}
#referanslarımız .frame .three .tumunu-gor p {
  font-size: 16px;
  font-weight: 600;
  color: #F84646;
}
#referanslarımız .adaptive-frame {
  display: none;
}
@media (max-width: 1000px) {
  #referanslarımız .adaptive-frame {
    display: inline-block;
  }
}
#referanslarımız .adaptive-frame span {
  display: block;
  width: 170px;
  height: 96px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#referanslarımız .adaptive-frame .tumunu-gor {
  display: flex;
}
#referanslarımız .adaptive-frame .tumunu-gor p {
  font-size: 16px;
  font-weight: 600;
  color: #F84646;
}

#sixth {
  padding: 160px 0;
  text-align: center;
}
@media (max-width: 425px) {
  #sixth {
    padding: 90px 0 82px;
  }
}
@media (max-width: 425px) {
  #sixth img {
    width: 90px;
  }
}
#sixth h1 {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 10px;
}
@media (max-width: 425px) {
  #sixth h1 {
    font-size: 36px;
  }
}
#sixth p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}
@media (max-width: 425px) {
  #sixth p {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
#sixth button {
  color: #fff;
  border-radius: 8px;
  background: #F84646;
  border: none;
  padding: 25px 40px;
  font-size: 24px;
}
@media (max-width: 426px) {
  #sixth button {
    font-size: 16px;
    padding: 15px 30px;
  }
}

footer {
  background: #F8464A;
  color: #fff;
  padding: 80px 0 70px;
}
footer .flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  footer .flex-parent {
    flex-direction: column;
    gap: 49px;
    align-items: flex-start;
  }
}
footer .flex-parent div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .flex-parent div .first {
  font-size: 16px;
  font-weight: 700;
}
footer .flex-parent div p:not(.first) {
  font-size: 16px;
  font-weight: 400;
  color: #E6E6E6;
}
footer .flex-parent-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
@media (max-width: 425px) {
  footer .flex-parent-second {
    flex-direction: column;
    align-items: flex-start;
    gap: 63px;
  }
}
footer .flex-parent-second .images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}/*# sourceMappingURL=style.css.map */